h2 {
  margin: 50px;
}

.logo {
  width: 50%;
  margin-top: 30px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

.map {
  margin-top: 50px;
  width: 100%;
  max-width: 1000px;
}

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
