.card {
  width: 150px;
  height: 250px;
  margin: 50px;
  margin-top: 30px;
}

.flip-card {
  background-color: #f3eee9;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3eee9;
  /* opacity: 0.2; */
  color: black;
  border-radius: 5px;
  font-size: 30px;
}

.flip-card-back {
  background-color: #f3eee9;
  /* color: white; */
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 10px;
}

.wings {
  width: 130px;
}

.image {
  width: 130px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.front-card-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 230px;
  margin: 10px;
}

.message {
  margin: 15px;
  font-size: 13px;
}
