#header {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  color: black;
}

.navbar {
  height: 80px;
}

.in-memo-button {
  margin-right: 5px;
  background-color: #8a4241 !important;
  border: 1px solid #8a4241;
  border-radius: 10px;
}

.form-pet--button {
  background-color: #8a4241 !important;
  border: 1px solid #8a4241;
  border-radius: 10px;
}
