body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.options-modal {
  background-color: white !important;

  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35) !important;
  margin-top: 25px !important;
  padding: 20px;
  border-radius: 6px !important;
  width: 350px !important;
  display: flex;
  align-items: center;
  justify-content: "center";
}

.ok-button-options {
  margin-right: 5px !important;
}

input[type="file"] {
  display: none;
  cursor: pointer;
}

.modal-memo-upload {
  text-transform: uppercase;
  color: #fff;
  background: #8a4241 !important;
  text-align: center !important;
  padding: 10px 20px !important;
  letter-spacing: 1.5px !important;
  user-select: none !important;
  cursor: pointer !important;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35) !important;
  border: 1px solid #8a4241 !important;
}

.center-upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.modal-memo-upload:active {
  transform: scale(0.9) !important;
}

.upload-icon {
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1000;
}

.modal-footer-2 {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.companyList {
  padding: 1em;
  background-color: #efefef;
}

.container-fluid {
  background: linear-gradient(90deg, #ac7d7c 0%, #b36c6a 100%);
}

.card-123 {
  border: none;
  padding: 10px 50px;
  background-color: #964f4e;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.card-123::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-123:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;
}

.card-123:hover::after {
  opacity: 1;
}

.card-123 .btn-outline-primary {
  color: white;
  border: 1px solid white;
}

.card-123:hover .btn-outline-primary {
  color: black;
  background: white;
  border: 1px solid black;
}

.cards {
  /* background-color: orange; */
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
