body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.options-modal {
  background-color: white !important;
  border: 2px solid gray !important;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35) !important;
  margin-top: 25px !important;
  padding: 5px;
  border-radius: 6px !important;
  width: 350px !important;
  display: flex;
  align-items: center;
  justify-content: "center";
}

.ok-button-options {
  margin-right: 5px !important;
}

input[type="file"] {
  display: none;
  cursor: pointer;
}

.modal-memo-upload {
  text-transform: uppercase;
  color: #fff;
  background: #8a4241 !important;
  text-align: center !important;
  padding: 10px 20px !important;
  letter-spacing: 1.5px !important;
  user-select: none !important;
  cursor: pointer !important;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35) !important;
  border: 1px solid #8a4241 !important;
}

.center-upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.modal-memo-upload:active {
  transform: scale(0.9) !important;
}

.upload-icon {
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1000;
}

.modal-footer-2 {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.cards {
  /* background-color: orange; */
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
